<h1>About me</h1>
<div class="row">
  <div class="col-md-5">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit numquam nobis, sed amet. Perspiciatis deserunt velit dolorem amet consequatur voluptate illo! Ex facilis provident mollitia ad cum unde tempore quisquam.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit numquam nobis, sed amet. Perspiciatis deserunt velit dolorem amet consequatur voluptate illo! Ex facilis provident mollitia ad cum unde tempore quisquam.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi tempore quibusdam alias adipisci accusamus voluptate in, eum officia? Eaque non quaerat amet explicabo et, rem nihil similique hic ducimus esse.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi tempore quibusdam alias adipisci accusamus voluptate in, eum officia? Eaque non quaerat amet explicabo et, rem nihil similique hic ducimus esse.</p>
  </div>
  <div class="col-md-5">
    <img src="https://www.sandringhamestate.co.uk/assets/products/W31_Corgi_Soft_Toy_3.jpg" alt="" class="img-responsive">
  </div>
</div>
