<h1>Welcome</h1>
<div class="row">
  <div class="col-md-7">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque aut magnam nisi doloribus hic autem, amet sint nihil soluta rem consectetur, doloremque excepturi ducimus explicabo beatae facilis iste possimus? Earum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque aut magnam nisi doloribus hic autem, amet sint nihil soluta rem consectetur, doloremque excepturi ducimus explicabo beatae facilis iste possimus? Earum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque aut magnam nisi doloribus hic autem, amet sint nihil soluta rem consectetur, doloremque excepturi ducimus explicabo beatae facilis iste possimus? Earum.</p>
  </div>
  <div class="col-md-3">
    <img src="https://i.ebayimg.com/images/g/YF8AAOSwAata4klx/s-l300.jpg" alt="" class="img-responsive">
  </div>
</div>
